<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Begins at</th>
      <th>Ends at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= "#{event.begins_at.day}.#{event.begins_at.month}.#{event.begins_at.year} #{event.begins_at.hour}:#{event.begins_at.min}:#{event.begins_at.sec}" %></td>
        <td><%= "#{event.ends_at.day}.#{event.ends_at.month}.#{event.ends_at.year} #{event.ends_at.hour}:#{event.ends_at.min}:#{event.ends_at.sec}" %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
